src/main/mule/users.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="users-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="users-config" api="users.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="daca9fa3-6655-4d98-b3dd-b5716d95b7db">
        <db:my-sql-connection host="localhost" port="32768" user="fabio" password="welcome1" database="test" />
    </db:config>
    <flow name="users-main">
        <http:listener config-ref="users-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[error.description]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="users-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="users-console">
        <http:listener config-ref="users-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="users-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\users\(userId):application\json:users-config">
        <db:update doc:name="Update" doc:id="85a9e3bc-0661-41a6-aceb-844851bfde4c" config-ref="Database_Config">
            <db:sql><![CDATA[Update users set FirstName=:name, LastName=:lastname,Email=:email, Address=:address where UserId = :userId]]></db:sql>
            <db:input-parameters><![CDATA[#[{userId: attributes.uriParams.userId, name: payload.FirstName,lastname: payload.LastName,email:payload.Email,address:payload.Address}]]]></db:input-parameters>
        </db:update>
        <ee:transform doc:name="Transform Message" doc:id="b4b9256f-eee4-482e-b545-6a248790abf5">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\users\(userId):application\json:users-config">
        <ee:transform doc:name="setField1" doc:id="d230f9aa-ea1f-44a7-8d6c-d0a52ca0783c">
            <ee:variables>
                <ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java
---
if (not isEmpty(payload.FirstName))
	query: "Update users set" ++  " FirstName='"++ payload.FirstName ++ "',"
else
    query: "Update users set"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="setField2" doc:id="48fdebc1-ad8d-48e9-bced-7d6d58d1a5f0">
            <ee:variables>
                <ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java
---
if (not isEmpty(payload.LastName))
	query: vars.query.query ++  " LastName='"++ payload.LastName ++ "',"
else
    query: vars.query.query]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="setField3" doc:id="88a4c536-09ba-40aa-8a7d-98edc986e9c2">
            <ee:variables>
                <ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java
---
if (not isEmpty(payload.Address))
	query: vars.query.query ++  " Address='"++ payload.Address ++ "',"
else
    query: vars.query.query]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="setField4" doc:id="30b76f08-1658-46e1-abbc-0a5368f39bed">
            <ee:variables>
                <ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java
---
if (not isEmpty(payload.Email))
	query: vars.query.query ++  " Email='"++ payload.Email ++ "',"
else
    query: vars.query.query]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="setCond" doc:id="c856451b-8d38-409c-b9d7-dc26ceacfb85">
            <ee:variables>
                <ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java
---
query: vars.query.query[0 to -2] ++  " where UserId=" ++  attributes.uriParams.userId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:update doc:name="Update" doc:id="a1482c82-18d2-468c-9821-19521f4542ac" config-ref="Database_Config">
            <db:sql><![CDATA[#[vars.query.query]]]></db:sql>
        </db:update>
        <ee:transform doc:name="Transform Message" doc:id="9a36b5d3-fd73-4e6f-8bc0-7023a0c31858">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(userId):users-config">
        <ee:transform doc:name="setQuery" doc:id="380103e1-b838-4eeb-9d4a-3bec94e9a2cf">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java
---
query: "select * from users where UserId = '" ++ attributes.uriParams.userId ++ "'"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="a067595b-0b36-4468-aa41-63f319928d6b" config-ref="Database_Config">
            <db:sql><![CDATA[#[vars.query.query]]]></db:sql>
        </db:select>
        <choice doc:name="Choice" doc:id="3f8831c7-7cc5-437d-8550-e3817d4d74a9">
            <when expression="sizeOf(payload) &gt; 0">
                <ee:transform doc:name="Transform Message" doc:id="10419f7e-6768-4ff4-99bc-11e4ec919794">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <raise-error doc:name="Raise error" doc:id="4a2ee4c4-f34b-414b-9577-559b7c441536" type="API:NOT-FOUND" description="User not Found" />
            </otherwise>
        </choice>
    </flow>
    <flow name="get:\users:users-config">
        <ee:transform doc:name="Transform Message" doc:id="cf5d2bd1-72ba-49ef-9ff9-e0ba45b66a5f">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java
---
if (isEmpty(attributes.queryParams.firstname) and isEmpty(attributes.queryParams.lastname))
	query: "select * from users"
else if (isEmpty(attributes.queryParams.firstname))
    query: "select * from users where LastName = '" ++ attributes.queryParams.lastname ++ "'"
else if (isEmpty(attributes.queryParams.lastname))
    query: "select * from users where FirstName = '" ++ attributes.queryParams.firstname ++ "'"
else
    query: "select * from users where LastName = '" ++ attributes.queryParams.lastname ++ "' and FirstName = '" ++ attributes.queryParams.firstname ++ "'"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="137dda32-6c5a-410b-817b-2d81466f4a9c" config-ref="Database_Config">
            <db:sql><![CDATA[#[vars.query.query]]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="20666efe-7362-455f-b225-dc5d93d7893d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users:application\json:users-config" doc:id="8b5677c1-b475-4e67-8744-a09be6755d50">
        <db:insert doc:name="Insert" doc:id="c40b7ba1-d676-4fc3-85e7-505d9ccacffc" config-ref="Database_Config">
            <db:sql><![CDATA[Insert into users (FirstName, LastName, Email, Address) values (:name,:lastname,:email,:address);]]></db:sql>
            <db:input-parameters><![CDATA[#[{name: payload.FirstName,lastname: payload.LastName,email:payload.Email,address:payload.Address}]]]></db:input-parameters>
        </db:insert>
        <ee:transform doc:name="Transform Message" doc:id="0499cb1d-bb71-4043-bf88-7bdb6668c975">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users\import-file:users-config">
        <file:read doc:name="Read" doc:id="1fd57ef9-7b3f-414a-a0f9-4f830295144a" path="C:\Users\Christian\Desktop\csv.csv" outputMimeType='application/csv; separator=";"; header=true' outputEncoding="UTF-8" />
        <foreach doc:name="For Each" doc:id="ad55d85c-6a1f-44dc-8fea-0cabaec67bb3">
            <ee:transform doc:name="Transform Message" doc:id="4b07288e-255a-4c55-8acf-54e32f2a71f1">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <http:request method="POST" doc:name="Request" doc:id="07bdb30f-33f7-4bae-85aa-78b03d7f34d6" url="http://localhost:8081/api/users"/>
        </foreach>
        <ee:transform doc:name="Transform Message" doc:id="dadd8c96-3ceb-4fb9-a253-736594b2d509">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\users\(userId):users-config">
		<ee:transform doc:name="setQuery" doc:id="1ee733a0-79a6-45d1-8d4e-fb8b9ad0d9d7" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
---
query: "delete from users where UserId = '" ++ attributes.uriParams.userId ++ "'"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:delete doc:name="Delete" doc:id="3ba0ae09-e0f0-4b07-8b2b-93b1f08013ed" config-ref="Database_Config">
			<db:sql ><![CDATA[#[vars.query.query]]]></db:sql>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="c3f13328-20af-4650-8d75-b8f7bd4e9230" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	success: true
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
